<html>
   <head>
      <h1>Add a child</h1>
      <link rel="stylesheet" href="../static/style.css/">
      <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
      <link rel="apple-touch-icon-precomposed" href="../static/money-bag-152-245511.png">
   </head>
   <body>

      <h1>Welcome to {{ title }}</h1>
      <p>Please add a child</p>
      
      <form action = "{{ url_for('addChildRec') }}" method = "POST">
         Childs Name<br>
         <input type = "text" name = "child" /><br>
         
         Starting Amount<br>
         <input type = "number" name = "amt" /></br>
         
         <input type = "submit" value = "submit" /><br>
      </form>
       <br>
      <h2><a href = "\">Go back to home page</a></h2>     
   </body>
</html>
