<!doctype html>
<html>
   <head>
     <h1>History</h1>
     <link rel="stylesheet" href="../static/style.css/">
     <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
      <link rel="apple-touch-icon-precomposed" href="../static/money-bag-152-245511.png">
   </head>
   <body>
   
      <table border = 1>
         <thead>
            <td>Date</td>
            <td>Amount</td>
            <td>Description</td>
            <td>Delete Link</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["date"]}}</td>
               <td>{{row["amount"]}}</td>
               <td>{{row["description"]}}</td>
               <td><a href="{{ url_for('deleteAmount', child=row['child'], rowid=row['rowid'])}}">Delete Record</a></td>
            </tr>
         {% endfor %}
      </table>
      
      <h2><a href = "/">Go back to balance page</a></h2>
      
   </body>
</html>
