<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
      <link rel="shortcut icon" href="{{ url_for('static', filename='../favicon.ico') }}">
   </head>

   <body>
      <h1>Pocket Money Tracker</h1>
      <h2>Pocket money as of: {{ time }}</h2>
     
      <br>

      <h1>{{ child }} </h1>
      <h2>Balance: £{{ balance }} </h2>

      <br>

      <h2><a href = "\add">Add A Transaction</h2>
      <h2><a href = "\history">History</h2>

   </body>
</html>

