<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
      <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
      <link rel="apple-touch-icon-precomposed" href="../static/money-bag-152-245511.png">
   </head>

   <body>
      <h1>Pocket Money Tracker</h1>
      <h2>Pocket money as of: {{ time }}</h2>
     
      <br>

        {% for row in rows %}
           <hr>
           <br>
           <h1>{{row["child"]}}</h1> 
           <h2>Current Balance: <b>£{{row["balance"]}}</b></h2>
           <h3><a href = "\add\{{row["child"]}}">Add A New Transaction for {{row["child"]}} </a></h3>
           <h3><a href = "\history\{{row["child"]}}">Transaction History for {{row["child"]}} </a></h3>
           <br> 
         {% endfor %}

      <br>

      <hr>
      <h3><a href = "\addChild">Add Another Child</h3>
      

   </body>
</html>

