<!doctype html>
<html>
   <head>
     <h1>Schedule</h1>
     <link rel="stylesheet" href="../static/style.css/">
     <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
     <link rel="apple-touch-icon-precomposed" href="../static/money-bag-152-245511.png">
   </head>
   <body>
   
      <table border = 1>
         <thead>
            <td>Child</td>
            <td>Amount</td>
            <td>Frequency</td>
            <td>Time</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["child"]}}</td>
               <td>{{row["amount"]}}</td>
               <td>{{row["frequency"]}}</td>
               <td>{{row["time"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <h2><a href = "/">Add a new Schedule</a></h2>
      <h2><a href = "/">Go back to balance page</a></h2>
      
   </body>
</html>
