{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
   
<div class="container">

  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}

  <div class="container">

      <h1>Schedule Information</h1>

      <br>
      <p>
      When should pocket money be added?
      <br>

      <table class="table">
         <thead  class="table_header">
            <td>Child</td>
            <td>Amount</td>
            <td>Frequency</td>
            <td>Time</td>
            <td>Delete Schedule</td>
         </thead>
         
         {% for row in rows %}
            <tr class="table_font">
               <td>{{row["child"]}}</td>
               <td>{{row["amount"]}}</td>
               <td>{{row["frequency"]}}</td>
               <td>{{row["time"]}}</td>
               <td><a href="{{ url_for('money.deleteSchedule', child=row['child'], rowid=row['rowid'])}}" class=deletebutton>Delete Entry</a></td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/" class="addbutton">Add new Schedule</a>
      
      </p>

  </div>
</div>
{%- endblock %}

